.form__row {
    display: flex;
}

.form__row .form__input:first-child {
    margin-right: 0.5rem;
}

.form__row .form__input:last-child {
    margin-left: 0.5rem;
}

@media (max-width: 480px) {
    .form__row
    {
        flex-direction: column;
    }

    .form__row .form__input:first-child {
        margin-right: 0px;
    }

    .form__row .form__input:last-child {
        margin-left: 0px;
    }
}

.form__input
{
    height: 4rem;
    width: 100%;
    margin-bottom: 3rem;
}

.form__input
{
    position: relative;
}

.form__input input
{
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    border: none;
    border-bottom: 0.25rem solid $Light;
    padding: 0 1rem;
}

.form__input input:focus ~ label,
.form__input input:valid ~ label
{
    transform: translateY(-20px);
    font-size: 1.25rem;
    color: #4285f4;
    left: 0;
    bottom: 2.5rem;
}

.form__input label
{
    position: absolute;
    pointer-events: none;
    bottom: 1rem;
    left: 1rem;
    color: gray;
    transition: all 0.2s ease;
}

.form__input .underline
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.25rem;
    width: 100%;
}

.form__input .underline::before
{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: #4285f4;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.form__input input:focus ~ .underline::before,
.form__input input:valid ~ .underline::before
{
    transform: scaleX(1);
}

.form__input.error .underline::before {
    background: $Red;
}

.form__button
{
    width: 100%;
    margin-top: 1rem;
}

.form__button:hover
{
    background: $Blue;
}

.form__button.close:hover
{
    background: $Red;
}