*,
*:before,
*:after
{
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	outline: 0;
	border: 0;
}

img
{
	display: block;
	max-width: 100%;
}

ul,
li
{
	list-style: none;
}

input,
button,
textarea,
select
{
	font: inherit;
}

p
{
	color: inherit;
}